@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
@import url('https://fonts.googleapis.com/css2?family=Gotham:400;700');

body {
  font-family: 'Gotham', 'Montserrat',sans-serif;
}


#contenedor{
    width: 900px;
    height: 500px;
    text-align: center;
    position: absolute;
    inset: 0;
    margin: auto;
    border-radius: 10px;
    overflow: hidden; 
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
      0 10px 10px rgba(0,0,0,0.22);
  }

#calculadora{
    background: white;
    width: 50%;
    height: 100%;
    float: left;
}

#detalle{
    background: rgb(126, 126, 196);
    width: 50%;
    height: 100%;
    float: left;
    color: #f6f5f7;
}

#error{
    color: rgb(236, 74, 74);
    font-weight: bold;
    display: none;
}

.resultado{
    color: #0A81D1;
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 5px;
    display: none;
}


input {
	width: 60%;
    padding: 12px 15px;
    border: none;
    background-color: #eee;
}

button {
    font-size: 15px;
	font-weight: bold;
    margin: 10px;
	padding: 12px 45px;
	border-radius: 30px;
	background-color: #0caeb9;
	border: 1px solid #f7f7f7;
	color: #FFFFFF;
	text-transform: uppercase;
	letter-spacing: 1px;
	transition: transform 20ms ease-in;
}

button:active {
	transform: scale(0.95);
}

